@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KumbhLight";
  src: url(./fonts/Kumbh_Sans/static/KumbhSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "KumbhBold";
  src: url(./fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url(./fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url(./fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SpaceRegular";
  src: url(./fonts/Space_Mono/SpaceMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpaceBold";
  src: url(./fonts/Space_Mono/SpaceMono-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "KumbhBold", sans-serif;
}

